.container {
  display: flex;
  border: 1px solid orangered;
  border-radius: 2rem;
  overflow: hidden;
  justify-content: center;
  width: 600px;
}

.container > * {
  width: 50%;
  padding: 2rem;
}

.transitionContainer {
  border-right: 1px solid orangered;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.done {
  width: 0px;
  opacity: 0;
  padding: 0px;
  border-right: none;
}
